body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-mitr: Mitr;
    --font-jost: Jost;
  
    /* font sizes */
    --font-size-6xl: 25px;
    --font-size-xl: 20px;
    --font-size-base: 16px;
  
    /* Colors */
    --color-white: #fff;
    --color-whitesmoke: #efefef;
    --color-black: #000;
    --color-silver: #d0c3bf;
    --color-dimgray: #726865;
  
    /* Gaps */
    --gap-3xs: 10px;
  
    /* Paddings */
    --padding-3xs: 10px;
    --padding-8xs: 5px;
    --padding-mini: 15px;
  
    /* border radiuses */
    --br-5xs: 8px;
  }
  